#### 5.2.7 정렬과 순위 p.220

In [2]:
import pandas as pd
import numpy as np
# p.220
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
print(obj.sort_index())     # 정렬된 새로운 객체를 반환함(원본 수정하지 않음)
print()
print(obj)

a    1
b    2
c    3
d    0
dtype: int64

d    0
a    1
b    2
c    3
dtype: int64

In [3]:
# p.220
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
print(frame)
print()
print(frame.sort_index())
print()
print(frame.sort_index(axis=1))
print()
print(frame.sort_index(axis=0).sort_index(axis=1))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

       a  b  c  d
one    5  6  7  4
three  1  2  3  0

In [4]:
# p.220
frame.sort_index(axis=1, ascending=False)   # 내림차순

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [5]:
# p.221
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()   # 값에 따라 정렬

2   -3
3    2
0    4
1    7
dtype: int64

In [8]:
# p.221
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
print(frame)
print()
# print(frame.sort_values())  # 오류 발생
print(frame.sort_values(by='b'))    # b 칼럼에 대해 정렬

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [9]:
# p.222
frame.sort_values(by=['a', 'b'])
# 여러 개의 칼럼 정렬시(입력 순서에 따라 우선순위 결정)

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [10]:
# p.222
'''
순위
'''
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()  # 동점인 항목에 대해서는 평균 순위를 매김

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [11]:
# p.222
# 동점인 항목인 경우, 데이터 상에서 먼저 나타나는 것의 순위를 더 높게 매김
print(obj.rank(method='first'))

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [13]:
# p.223
'''
print(obj.rank(method='min'))
print(obj.rank(method='max'))
'''
# 동률인 경우 그룹 내에서 높은 순위를 적용
print(obj.rank(ascending=False, method='max'))
print()
print(obj.rank(method='min'))
print()
print(obj.rank(method='max'))

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

0    6.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64

0    7.0
1    1.0
2    7.0
3    5.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [14]:
# p.223
'''
DataFrame 에서는 행이나 열에 대해 순위를 정할 수 있음
'''
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})
print(frame)
print()
print(frame.rank(axis='columns'))  # 또는 axis=1

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

#### 5.2.8 중복 색인 p.224

```
지금까지의 예제는 축 이름(색인값)이 유일한 경우밖에 없었다.
pandas 의 많은 함수(reindex 같은)에서 색인값은 유일해야 하지만 의무적이지는 않다.
중복된 색인값을 가지는 Series 객체를 살펴보자.
```

In [15]:
# p.224
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [16]:
# p.225
'''
인덱스가 유일값으로만 이루어졌는지 확인
'''

obj.index.is_unique

False

In [17]:
# p.225
'''
중복되는 색인값이 있을 때와 없을 때의 동작이 달라짐.
'''
print(obj['a'])     # 중복 색인인 경우: Series 객체를 반환
print()
print(obj['c'])     # 중복 색인이 아닌 경우: 데이터 값 반환

a    0
a    1
dtype: int64

4

In [19]:
# p.225
'''
DataFrame 에서의 중복 색인 조회
'''

df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'c'])
print(df)
print()
print(df.loc['b'])   # 중복 색인이 없는 경우
print()
print(df.loc['a'])   # 중복 색인이 있는 경우

          0         1         2
a  1.141895 -1.651146 -0.194793
a -0.604560  0.136615 -0.227129
b -0.694195 -1.438214 -0.848958
c -1.897708  1.030519 -1.040025

0   -0.694195
1   -1.438214
2   -0.848958
Name: b, dtype: float64

          0         1         2
a  1.141895 -1.651146 -0.194793
a -0.604560  0.136615 -0.227129

#### 5.3 기술 통계 계산과 요약 p.226

```
pandas 객체는 일반적인 수학 메서드와 통계 메서드를 가지고 있다.
이 메서드의 대부분은 하나의 Series 나 DataFrame 의 로우나 칼럼에서
단일 값(합이나 평균 같은)을 구하는 축소 혹은 요약 통계 범주에 속한다.

순수 NumPy 배열에서 제공하는 동일한 메서드와 비교하여
pandas 의 메서드는 처음부터 누락된 데이터를 제외하도록 설계되었다.
```

In [20]:
# p.226
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [21]:
# p.226
'''
각 행의 합계
'''

df.sum()    # 누락된 데이터를 제외한 합계

one    9.25
two   -5.80
dtype: float64

In [22]:
# p.226
'''
각 열의 합계
'''

df.sum(axis='columns')  # axis=1

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [23]:
# p.227
df.mean(axis='columns', skipna=False)   # NaN 값을 제외하지 않도록 설정

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [24]:
# p.227
print(df)
print()
print(df.cumsum())     # 누적 합계

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [25]:
# p.228
print(df)
print(df.describe())   # 여러 가지 통계 결과를 출력함

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [26]:
# p.228
'''
수치 데이터가 아닐 경우 describe는 다른 요약 통계를 생성
'''

obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
print(obj)
print()
print(obj.describe())

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

count     16
unique     3
top        a
freq       8
dtype: object

#### 5.3.2 유일값, 값 세기, 멤버십 p.232

In [27]:
# p.232
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [28]:
# p.232
'''
유일값 반환
'''

uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [32]:
# p.232
'''
도수 계산(빈도) 및 내림차순 정렬
'''

print(obj.value_counts())
print()
print(obj.value_counts(sort=False))

a    3
c    3
b    2
d    1
dtype: int64

c    3
b    2
a    3
d    1
dtype: int64

In [30]:
# p.232
pd.value_counts(obj.values, sort=False) # 정렬하지 않음

c    3
b    2
a    3
d    1
dtype: int64

In [33]:
# p.233
print(obj)
print()
mask = obj.isin(['b', 'c'])     # 값이 존재하는지 확인
print(mask)
print()
print(obj[mask])

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

0    c
5    b
6    b
7    c
8    c
dtype: object

In [34]:
# p.234
'''
DataFrame 의 여러 칼럼에 대해 히스토그램(도수분포표)을 구해야 하는 경우
'''
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [37]:
# p.235
'''
DataFrame 의 apply 함수에 pandas.value_counts 를 넘기면 다음과 같은 결과를 얻을 수 있음.

행 라벨은 전체 컬럼의 유일한 값들을 담고 있음.
각 값은 각 칼럼에서 해당 값이 몇 번 출현했는지를 나타냄.
'''
result = data.apply(pd.value_counts).fillna(0)  # NaN 을 0 으로 채움
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0